title: My Blog
author: John Doe
url: http://my-blog.com
language: en_GB
default_post_template: post.html
archive_month_template: archive_month.html
archive_year_template: archive_year.html
tag_template: tag.html